<footer class="text-center text-lg-start  bg-danger footer2 text-white">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Conéctate con nosotras en las redes sociales:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Go Karts
                    </h6>
                    <p>
                        Disfruta de nuestras mejores pistas
                    </p>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        
                    </h6>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"></a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sitios de Interés
                    </h6>
                    <p>
                        <a href="wwww.facebook.com" class="text-reset">Facebook</a>
                    </p>
                    <p>
                        <a href="www.instagram.com" class="text-reset">Instagram</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contáctenos
                    </h6>
                    <p><i class="fas fa-home me-3"></i>
                        Avenida Las Américas Cra 64 Frente a RCN OUTLET FACTORY Tel: 316 2469294</p>

                    <p><i class="fas fa-print me-3"></i>305 3485130</p>
                    <a class="iconos icono-imagen d-flex justify-content-center iconos-2" href="">
                        <img class="iconos1" src="img/preguntas/facebook.png" width="26" alt="">
                        <img class="iconos1" src="img/preguntas/twitter.png" width="26" alt="">
                        <img src="img/preguntas/whatsapp.png" width="26" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright Bogotá Institute of Technology:
    </div>
</footer>
