<section class="container">
<div class="row">

    <div class="col-12">
        <img class="imgen" src="assets/img/imagen1.png" alt="">
    </div>

<div class="row"></div>
<div class="col-6 col-md-4 col-lg-4 mt-5">
    <div class=" card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Nuestras pistas en el país</div>
        <div class="card-body">
            <h5 class="card-title">Bogotá</h5>
            <p class="card-text">Avenida Las Américas Cra 64
                Frente a RCN OUTLET FACTORY
                Sótano 1
                Tel: 316 2469294</p>
            <h5 class="card-title">Villavicencio</h5>
            <p class="card-text">C.C. VIVA Piso 2
                frente a CINECOLOMBIA
                (57) - 305 3485130</p>
            <h5 class="card-title">Medellin</h5>
            <p class="card-text">C.C. Santa Fé - Sótano 6</p>
        </div>
    </div>
</div>
    <div class=" col-6 col-md-8 col-lg-8 mt-5">
        <h5 class="text-light">KARTS COLOMBIA</h5>
        <p class="text-light">Es una empresa de entretenimiento familiar fundada en la ciudad de Bogotá. Su principal actividad són los deportes a motor y su misión es darle la posibilidad a jóvenes y adultos de prácticar este deporte que en la mayoría de ocaciones requiere de grandes iversiones económicas para poder practicarlo. Esta compañía actualmente trabaja en dos grandes proyectos, disponibles para inversión, con un alta rentabilidad y posibilidades de éxito financiero basadas en números reales. Si deseas saber más o invertir en cualquiera de estos proyectos te invitación a hacer Click en los logos para visitar su sitio Web.</p>
    </div>

    </div>


</section>
