
<section class="container">
    <div class="row">
        <div class="card-group"  id="color">
            <div class="card text-white bg-dark mb-5 mt-5 me-5 ">
                <img src="assets/img/karts1.jpg" class="card-img-top" alt="...">
                <div class="card-body" >
                    <h5 class="card-title">Bogotá</h5>
                    <p class="card-text">CC OUTLET FACTORY Avenida Las Américas Cra 64 Frente a RCN OUTLET FACTORY sotano 1</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-5 mt-5 me-5 ">
                <img src="assets/img/karts2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Villavicencio</h5>
                    <p class="card-text">CC VIVA Calle 7 #45-185 La Esperanza Et. 3 PISO 2 frente a CINECOLOMBIA</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-5 mt-5 me-5 ">
                <img src="assets/img/karts3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medellin</h5>
                    <p class="card-text">CC SANTA FÉ Carrera 43A, Cl. 7 Sur # 170</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="assets/img/imagen0.png" alt="">
    </div>
</section>
